feedparser==5.2.1
Flask==0.11.1
-e git+https://github.com/MongoEngine/flask-mongoengine.git@4e21f6aef73dc1234e310da10803e16b47e68156#egg=flask_mongoengine
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-Testing==0.5.0
Flask-WTF==0.12
mongoengine==0.10.6
python-dateutil==2.5.3
